
    nav li {width: 25%; float: left;}
    
    

main {.card {flex-basis: 50%;}
}

div#headerWrapper {
}
    header{
        h1 {font-size: 1.6rem; margin-top: 1rem;}
        h2 {display: block;
            margin: 0; 
            font-size: 1.2rem; 
            font-weight: $regularWeight;}
    }
    
    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px solid #ddd;
    }


