
    header, nav, main, footer {
        max-width: 1140px;
        margin:auto;
    }
    
    
    
      /* ------- NAVIGATION ------- */

 #hamburgerBtn {display: none;}/* hide the navigation button for all screen widths. we will show it below just for small screens */
#primaryNav {
    overflow: visible;
    display: block;
}

 /* ----MAIN---- */
main figure { width: 31%;}

main {
    
   /*----- GRID -----*/

div.newsgrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .mainnewsimage {
        grid-column: 1/span 3;
        grid-row: 1/span 2;
    }
    }// end grid

div.cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } // end cards



    } //end main


form label.sbs {
    padding: .4rem 0;
}

/*----- Footer -----*/

div#footerWrapper {

    footer {
    } 
} // end footer