$primaryColor: #52003D;

$secondaryColor: #D98BC5;

$otherColor: #D1009D;

$fontFamily: 'Quicksand', sans-serif;
$regularWeight: 300;
$heavyWeight: 700;

$gutter: 2vw;

$menuColor: #572049;

$accent: #9D0076;

$cbr: 10px;
