$primaryColor: #0480b1;

$secondaryColor: #F5F5F5;

$fontFamily: 'Quicksand', sans-serif;
$regularWeight: 300;
$heavyWeight: 700;

$gutter: 2vw;

$menuColor: white;

$menuFont: gray;

$headerFont: #0480b1;

$h2Font: #fdd831;

$accent: #23120B;

$cbr: 10px;
