
    header, nav, main, footer, div#hamburger {
    }
    
    
div#pageWrapper {
grid-template-areas:
"header"
"navigation"
"content"
"footer";
grid-template-columns: auto;
    max-width: 64rem;
        margin:auto;
    }


      /* ------- NAVIGATION ------- */

div#navWrapper {
    nav ul li {
    flex-basis: auto;
    a {padding: .6rem 1rem;}
    }}
    


 /* ----MAIN---- */
main figure { width: 31%;}

main {
    
   /*----- GRID -----*/

div.newsgrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .mainnewsimage {
        grid-column: 1/span 3;
        grid-row: 1/span 2;
    }
    }// end grid



    } //end main


form label.sbs {
    padding: .4rem 0;
}

/*----- Footer -----*/

div#footerWrapper {

    footer {
    } 
} // end footer