div#pageWrapper {
    grid-template-areas:
        "header header"
        "navigation content"
        "footer footer";
    grid-template-columns: 150px auto;
}
    
    main figure {
        float: right; 
        width: 48%; 
        margin-left: 2%;
        padding-bottom: .5rem;
    }

    header{
        h1 {font-size: 1.6rem; margin-top: 1rem;}
        h2 {display: block;
            margin: 0; 
            font-size: 1.2rem; 
            font-weight: $regularWeight;}
    }


      /* ------- NAVIGATION ------- */

a.myjump {display: none;}
div#navWrapper {height: auto;}



/* ----MAIN---- */

main {
    
    
    div.watches {
        grid-template-columns: 1fr 1fr;
    } // end cards
    
    
    

} //end main

/*----- Footer -----*/

div#footerWrapper {

    footer {div.footerSection {grid-template-columns: 1fr 1fr;}} 
    
} // end footer