/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


div#pageWrapper {
    display: grid;
    grid-template-areas:
        "hamburger"
        "header"
        "content"
        "footer"
        "navigation";
}





/* body rules */
body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}

div#headerWrapper {
    background-color: $primaryColor;
    grid-area: header;
}
header {
    padding: .5rem $gutter;
    color: white;
    h1 {
	margin: 0; 
	font-size: 1.5rem;
    font-weight: $heavyWeight;
    margin-top: 5rem;
} //end of h1
    h2{
    display: none;
} // end of h2
.topnav {
  float: right;
  display: block;
}   
} //end of header
header figure.logo {
    float: left;
    margin: 0 2% 0 0;
}

header h1 {
    float: left;
    margin: 0 2% 0 0;
}

/*----- NAV -----*/
a.myjump{
    display: block;
    width: 60px;
    color: rgba(0,0,0,0.7);
    font-size: 1.7rem;
    padding: .4rem;
    text-decoration: none;
    padding-left:2%;
}

div#navWrapper {
    background-color: $menuColor;
    grid-area: navigation;
    height: 100vh;
}
nav a{
    display: block;
    width: auto;
    color: rgba(0,0,0,0.7);
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    padding-left:2%;
}
nav ul {
    margin:0; 
    padding: 0; 
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
} 
nav ul li {
    flex-basis: 100%;  
}
nav ul li a {
    display: block;
    background-color: darken($menuColor, 10%);
    padding: .8rem 0; /*44px min*/
    color: #eee;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
}
nav ul li.active a{background-color: lighten($menuColor, 5%);}
nav ul li a:hover {background-color: darken($menuColor, 5%);}

//end of nav

/*----- HAMBURGER -----*/

div#hamburger {
    grid-area: hamburger;
    background-color: $menuColor;
    color: white;
}

/*----- MAIN -----*/

main{
    grid-area: content;
    display: block; 
    padding: 1rem $gutter;
    
    
div#watches {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    }
 
    h1 {color: $primaryColor;
    font-weight: $heavyWeight;}
    h2 {color: $menuColor;
    font-weight: $heavyWeight;}
 figure{
    margin: 0;
    width: 100%;
    img {width: 100%;}
    } // ends figure
    figure.left {
        float: left;
        margin: 0 2% 0 0;
    }
 figcaption {text-align: center; font-size: .8rem;}


}// end main


/*----- Footer -----*/

div#footerWrapper {
    background-color: $primaryColor;
    grid-area: footer;
footer {
    color: white;
    } // end list
    
    p{
    text-align: center;
    padding: 1rem $gutter;
        }
    } // end footer


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}