$primaryColor: #283747;

$secondaryColor: #85B5ED;

$otherColor: #364A61;

$fontFamily: 'Quicksand', sans-serif;
$regularWeight: 300;
$heavyWeight: 700;

$gutter: 2vw;

$menuColor: #455E7A;

$accent: #6185AD;

$cbr: 10px;
