
    header, nav, main, footer {
        max-width: 1140px;
        margin:auto;
    }
    
    
    
    nav ul {padding-left: $gutter;}
    nav li {width:auto;}
    nav a {padding: .5rem 1rem;}
    
    main figure { width: 31%;}
    


 /* ----MAIN---- */
main {
    
   /*----- GRID -----*/

div.newsgrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .mainnewsimage {
        grid-column: 1/span 3;
        grid-row: 1/span 2;
    }
    }// end grid

div.cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } // end cards



    } //end main

/*----- Footer -----*/

div#footerWrapper {

    footer {
    } 
} // end footer