$primaryColor: #61463F;

$secondaryColor: #E36D50;

$otherColor: #DEA090;

$fontFamily: 'Quicksand', sans-serif;
$regularWeight: 300;
$heavyWeight: 700;

$gutter: 2vw;

$menuColor: #5E2D21;

$accent: #AB7B6F;

$cbr: 10px;
