
    header, nav, main, footer {
        max-width: 1140px;
        margin:auto;
    }
    
    div#headerWrapper {
    
}
    
    nav ul {padding-left: $gutter;}
    nav li {width:auto;}
    nav a {padding: .5rem 1rem;}
    

    main {
        .card {flex-basis: 31.333%;}
    }
    
    div.news {column-count: 3;}


  